.orario-details {
  padding: 20px;
  overflow: auto; /* Permetti lo scrolling se necessario */
  max-width: 100%; /* Limita la larghezza massima a 100% del contenitore */
  box-sizing: border-box; /* Include padding e bordo nel calcolo della larghezza */
}

.orario-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  table-layout: fixed; /* Consenti alle colonne di essere allargabili */
  /*overflow: hidden;*/
}

.orario-table th,
.orario-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap; /* Impedisce il ritorno a capo del testo */
  overflow: hidden; /* Impedisce che il contenuto esca dalla cella */
  text-overflow: ellipsis; /* Mostra "..." se il contenuto è troppo lungo */
  width: auto; /* Le colonne occupano la stessa larghezza */
}

.orario-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.orario-table select {
  width: 100%;
  padding: 4px 8px; /* Riduci il padding interno */
  font-size: 12px; /* Riduci la dimensione del font */
  height: auto; /* Imposta l'altezza automatica */
  box-sizing: border-box;
}

button {
  margin-top: 10px; /* Riduci il margine superiore */
  padding: 5px 10px; /* Riduci il padding del bottone */
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px; /* Riduci la dimensione del font */
  height: auto; /* Imposta l'altezza automatica */
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}