.registro-studente {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .registro-studente h3 {
    margin-bottom: 20px;
  }
